/**
 * Keel 2021 
 * 
 * Author:    Graham Atlee
 * Created:   05.17.2021
 * 
 * GNU Affero General Public License v3.0
 * 
 * This stylsheet is only in charge of styling the list in which the 
 * individual containers will be displayed. Not the containers themselves
 **/


/* Container List */
.activeContainerList { 
    background-color: #090909; 
    /* min-height: 400px;    hold off on this */
    overflow: hidden; 
    list-style-type: none;
    /* refactor this later. Kind of a sketchy solution too */
    margin-right: -2%;
    margin-left: -8.4%;
    margin-top: -1.5%
}